body{
    background-color: #c8c3c3;
}
.card-container {
  height: 280px;
  width: 230px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #ddd;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 35px;
  width: 35px;
  object-fit: contain;
  padding: 6px;
  border: 1px solid gray;
  border-radius: 50%;
}



/* Middle */
.card-middle {
  display: flex;
  flex-direction: column;

}

.company {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  font-size: 14px;
  color: #555;
  margin: 0;
}

.card-middle h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}
.card-middle p {
align-items: center;
margin-left: 5px;
margin-bottom: 5px;
font-size: 8px;
color: #555;

}

.time {
  display: flex;
}

.time p {
  background-color: #e9e4e4;
 padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
}


/* Footer */
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
    border-top: 1px solid rgb(208, 208, 208);
    padding-top: 20px;
}

.card-footer button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-footer button:hover {
  transform: scale(1.05);
}

.card-salary p{
    font-size: 12px;
    color: 4px;
    margin-top: 0;
    color: #555;
}


.card-salary h3{
    margin: 0;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;         
  gap: 20px;                
  justify-content: center; 
  padding: 30px;
}