button{
  height: 40px;
  width: 100px;
  background-color: aqua;
  margin-right: 50px;
}

.box1{
  height: 200px;
  width: 200px;
  background-color: rgb(255, 0, 76);
  border: 1px solid black;
  margin-bottom: 20px;
  margin-top: 20px;
}

.box2{
  height: 200px;
  width: 200px;
  background-color: rgb(219, 116, 147);
  border: 1px solid black;
  margin-bottom: 20px;
  margin-top: 20px;
}